body {
background-color: #2b2945}

.info {
    display: flex !important;
    justify-content: space-between !important;
    background-color: #2b2945 ;
    background-size: contain !important;
    padding: 6px 15px !important;
    font-weight: 500 !important;
    color: white !important;

}


.navbar {
    justify-content: center !important;
    padding: 10px 15px !important;
    background-color: white !important;
    box-shadow: 0px 20px 50px 0px rgba(30, 54, 138.99999999999997, 0.35);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.nav-link {
    color: #2b2945 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 0px 24px 0px 30px !important;

}

.nav-link:hover {
    color: #ff8900 !important;
}

.main {
    color: black !important;
}

.chat {
    padding: 13px 21px 10px 21px !important;
    background-color: #2b2945 !important;
    color: white !important;
    position: relative;
    transition: top 1ms ease-in-out;
}

.chat:hover {
    top: -5px;
}


@media (max-width: 768px) {
    .chat {
        display: none !important;
    }

    @keyframes slideInLeft {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .navbar-collapse {
        animation: slideInLeft 0.5s ease-out;
    }
}
.section1 {
    margin-top: -40px;
    padding: 200px 250px;
    background-image: linear-gradient(
            to bottom,
            rgb(30, 28, 44, 0.5),
            rgb(30, 28, 44, 075)
    ), url("images/poster_event_1625876.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.home {
    width: 100%;
    display: flex;
    justify-content: space-around;
    animation: slideIn 1s ease-in-out 0.1s forwards;
}
.homeh1 {
    padding-top: 50px;
    color: white;
    font-size: 85px;
    word-wrap: break-word;
}
.homespan {
    font-size: 45px; font-weight: 400;
}

@keyframes slideIn {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.bannerimg {
    animation: slideIn 1s ease-in-out 0.1s forwards;
}
@media (max-width: 768px) {
    .iframe {
        width:300px !important;
        height:200px;
    }
.section1{
    padding: 100px;
}
    .bannerimg {
        max-width: 45vw !important;
    }

    .home {
        text-align: center;
    }

    .homeh1 {
        font-size: 28px;
    }
    .homespan{
        font-size: 15px;
    }
    .Exp {
        padding: 18px 35px 18px 35px;
        margin-bottom: 20px;
        margin-left: 80px;
    }
}


@media (max-width: 1024px) {
    .bannerimg {
        max-width: 45vw !important;
    }
    .iframe {
        width:300px !important;
        height:200px;
    }
    .navbar {
        padding: 10px 15px 10px 15px;
    }

    .plane, .camera {
        display: none;
    }

    .home {
        padding: 0;
    }

    .homeh1 {
        font-size: 40px;
    }


}

@media (max-width: 1250px) {
    .camera {
        margin: 120px -40px 0px 350px;

    }
    .iframe {
        width:300px !important;
        height:200px;
    }
    .home {
        padding: 0;
    }

    .bannerimg {
        max-width: 45vw !important;
    }

}

/*task2:Booking*/

.form {
    padding: 50px 95px 20px 93px !important;
    background-color: #2b2945;
    justify-content: center;
    border-radius: 60px 60px 60px 60px;
    text-align: center !important;
}

.former {
    margin-top: 50px;

}

.booknow {
    background-color: pink;
    color: black;
    padding: 25px 86px;
    font-size: 16px;
    border-radius: 56px;
    font-weight: bold;
    margin: 25px 0px 25px 0px;
}

.booknow:hover {
    background-color: blue;
    color: white;
}

.inputDestination {
    margin-top: 30px;
    color: white;
    font-size: 18px;
    font-weight: 450;
    word-wrap: break-word !important;
    width: 100px !important;

}
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.alert-message {
    display: none;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    animation: fadeInOut 5s ease-in-out forwards;
    opacity: 0;
}

.spinner {
    display: none !important;
    margin-right: 5px;

}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


.show-alert {
    display: block;
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 20px;
}
.iframe {
    width:400px;
    height:300px;
}
.gadget {
    margin: 30px 0px -40px -210px;
    animation: moveUp 1s ease-in-out 0.1s forwards;
}

.form-control {
    font-size: 14px !important;
    width: 140px !important;
    padding: 18px 20px !important;

}

.icons {
    transition: top 1ms ease-in-out;
    position: relative;
}

.icons:hover {
    top: -5px;
}

@media (max-width: 876px) {
    .form {
        margin-top: 50px;
        border-radius: 50px;
        padding: 0px 35px !important;

    }

    .bookingheader {
        border-radius: 50px;
    }
}

.sec {
    width: 100px !important;
    height:100px !important;
    position: relative;
    transition: top 2s ease-in-out;
}
.sec:hover {
    top: -5px;
}

.card-body h1 {
    font-size: 24px;
    text-align: center;
    color: #2b2945;
}
.card-body p {
    font-size: 18px;
    text-align: center;
    color: #73848c;
}

.service {
    background-image: linear-gradient(180deg, lightcyan 50%, #FFFFFF61 100%);
    border: none !important;

border-radius: 15px !important;
}
.service:hover {
    background-image: linear-gradient(180deg,  #b2f3de 50%, #FFFFFF61 100%);
}

@media (max-width: 876px) {
    .vectorimg {
        width: 250px !important;
    }
}
@media (max-width: 1024px) {
    .vectorimg {
        width: 250px !important;
    }
    .toph1 {
        font-size: 40px !important;
    }
}
@media (max-width: 1250px) {
    .service {
        margin-top: 0px !important;
    }
}

/*Task5 */

.task5 {
     background-color: white;
    padding: 100px 0px !important;
}
.counter-count
{
    font-size: 40px;
    position: relative;
    color:#2b2945;
    text-align: start;
    line-height: 92px;
    width: 92px;
    height: 92px;
    display: inline-block;
    font-weight: bold;
}
.design-p {
    font-size: 24px;
    color: #000000;
    line-height: 34px;
    opacity: 50%;
}
.task5 h2 {
    color: #2b2945;
    font-size: 24px;
    display: block;
    word-wrap: break-word;
    width: 210px;
}
.bi-youtube {
    transition: transform 0.2s ease ;

}
.bi-youtube:hover   {
    transform: scale(1.1) ;
}
.about-button {
    color: white;
    border: none;
    font-weight: 500;
    background-color: #2b2945;
    border-radius: 45px 45px 45px 45px;
    padding: 21px 53px 21px 53px;
    position: relative;
    font-size: 18px;
    transition: top 0.2ms ease-in-out;
}
.about-button:hover {
    top: -5px;
}
.twoimages {
    position: relative;
}
.coderimage{
    transition: top 0.2ms ease-in-out;
    position: relative;
    width: 98%;
}
.coderimage:hover {
    top:-5px;
}

.travelp {
    font-size: 24px;
    font-weight: 700;
    color: #1ec28b;
}
.travelh1 {
    font-size: 60px;
    font-weight: 700;
    color: #2b2945;
}

@media (max-width: 767px) {
    .travelh1 {
        font-size: 40px;
    }

    .girlimage {
        width: 77%;
    }
    .girlimage1 {
        position: absolute;
        width: 54%;
    margin: 190px 0px;
    }
    .task5 {
        margin: auto !important;

    }
    .task5 h2 {
        font-size: 20px !important;
        word-wrap: break-word;
    }
    .col-xs-12 {
        margin-right: 0;
        margin-left: 0;
    }
    .counter-count {
        font-size: 30px;
    }
    .design-p {
        font-size: 12px !important;
    }
    .counter-count {
        font-size: 30px !important;
    }
.col-2 {
    padding-right: 75px !important;
}


}

@media (width =  540px){
.girlimage1 {
    margin-top: 250px;
    left: 27%
}
    .col-2 {
        margin-right: 50px;
    }
    .design-p {
        font-size: 20px !important;
    }
}

/*Task7*/
.task7 {
    background-image: linear-gradient(
            to bottom,
            rgb(30, 28, 44, 0.5),
            rgb(30, 28, 44, 0.5)
    ), url("images/80576-dizajn-uzor-tehnologii-elektronnaya_tehnika-elektricheskie_seti-3840x2160 (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cardrev {
    border-radius: 15px !important;
    display: flex !important;
    text-align: start !important;
}
.card-img {
width: 95% !important;
    padding-top: 15px !important;
}
.card-body p{
    font-size: 16px !important;
    font-family: sans-serif !important;
}
.bi-quote {
    background-color: #73848c;
    padding: 12px;
    border-radius: 50px;
    color: white !important;
    transform: rotate(180deg);
height: 50px;
    width: 50px;
}

.cardrev:hover {
    background-image: linear-gradient(to bottom, blue, white);
    font-width: bold;
    transition-delay: 0.1ms;

}

.cardrev:hover p {
    color: black;
}

.cardrev:hover h5 {
    color: midnightblue;
}

.cardrev p1 {
    margin-left: 30px !important;
}
.abouth1{
    color: white;
    text-align: center;
    font-size: 55px;
    word-wrap: break-word;
    width: auto;
}
@media (max-width: 786px) {
.abouth1 {
    font-size: 24px;
}

    .cardrev {
        margin-left: 10px;
    }
}
@media (width >= 586px) {
    .cardrev {
        margin-right: 50px;
        margin-left: auto;
    }
}
/*Task9 Footer*/
.Footer {
    background-image: url("images/zasnezhennye-vershiny-vysokix-gor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}
.footheader {
    box-shadow: 0px 10px 50px 0px rgba(29.999999999999986, 194.00000000000006, 139.00000000000003, 0.16);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.text-muted-off {
    color: white !important;
}
.footerimg1,
.footerimg2,
.footerimg3,
.footerimg4,
.footerimg5,
.footerimg6 {
    transition: transform 0.3s ease;
    padding: 50px 17px 50px 17px;


}

.footerimg1:hover,
.footerimg2:hover,
.footerimg3:hover,
.footerimg4:hover,
.footerimg5:hover,
.footerimg6:hover {
    transform: scale(1.1);
}
@media (max-width: 1024px) {
    .footerimg1,
    .footerimg2,
    .footerimg3,
    .footerimg4,
    .footerimg5,
    .footerimg6 {
        padding: 20px 15px 20px 15px;
        max-width: 85px;
    }
}
.bi-caret-right-fill {
    color: #2b2945;
}
.fbodyh1 {
    color: #2b2945;
    font-size: 20px;
    font-family: "Jost",sans-serif;
    font-weight: 900;
}
.hr {
   width: 25%;
    padding: 0px 0px 7px 1px;
    height:2px;
    border-width:0;
    background-color: white;
}
.icon1,
.icon2,
.icon3,
.icon4 {
    transition: transform 0.3s ease;
    border-radius: 50%;
    background-color: #73848c;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 5px;
}

.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover {
    transform: scale(0.85);
    background-color: #2b2945;
}

.pandp p:hover {
    color: #2b2945!important;
}

@media (max-width: 876px) {
    .footerbody{
    text-align: center;
    }
    .hr{
        margin: auto;
.comp2 {
    width: 90% !important;
}
    }
    .footericons {
    justify-content: center;
}
}